<h1>Edit Property</h1>

<%= render 'edit_form' %>

<%= link_to 'Back to Properties', add_properties_path %> |
<%= link_to 'Back to Search', root_path %> |
<%= link_to 'Add Property', new_add_property_path %>

