<p><strong>Edit Property</strong></p>

<%= render 'form' %>

<%= link_to 'Back to Properties', properties_path %> |
<%= link_to 'Back to Search', root_path %> |
<%= link_to 'Add Property', new_property_path %>

