<p><strong>Edit Property</strong></p>

<%= render 'form' %>

<!-- May be used later <%= link_to 'Back to Properties', properties_path %> | -->
<strong><%= link_to 'Home', root_path %></strong> |
<strong><%= link_to 'Add New Property', new_property_path %></strong>

