<div class="row">
  <div class="col-sm-6">
    <h3>Add New Rentral Property</h3>

    <%= render 'form' %>
  </div>
  <div class="col-sm-6">
    <h3>Instructions</h3>
    <p>Please complete this form to add a new property.</p>
    <p>Once you have added the property,
    <p>you will be given the option to add a review!</p>
    <br>
    <br>
    <p>Thank you for using Rental Property Listing!</p>
  </div>
</div>
<strong><%= link_to 'Home', root_path %></strong>

