<h3>Add Review</h3>
<form action="" method="post">
  <label for="new_review">Add Review:</label>
  <br>
  <textarea name="new_review" rows="4" cols="40"></textarea>
  <input type="submit" name="rental_review" value="Add New Review">
</form>
